body {
  margin: 0;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

#hero {
  padding-top: 70px;
  background: #333;
}
#hero img {
  display: block;
  margin: 0 auto;
}

#main {
  width: 780px;
  margin: auto;
  padding: 30px;
}

#header {
  width: 400px;
  margin: 0 auto 50px;

  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.header-title {
  margin-bottom: 12px;

  font-size: 32px;
  font-weight: bold;
}

.mainFeature {
  position: relative;
  margin: 50px 0 100px;
  padding-left: 424px;
}
.mainFeature-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  overflow: hidden;

  background: #ccc;
  border-radius: 3px;
}
.mainFeature-image > img {
  display: block;
  width: 400px;
  height: 400px;
}
.mainFeature-image::before {
  content: 'FPO';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 200px;
  margin: auto;

  font-size: 200px;
  line-height: 240px;
  color: rgba(0,0,0,0.4);
  font-weight: bold;
  text-align: center;

  transform: rotate(-30deg);
}
.mainFeature-image::after {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
  border-radius: 3px;
}
.mainFeature-subSection + .mainFeature-subSection {
  margin-top: 48px;
}
.mainFeature-subSection-title {
  margin-bottom: 12px;

  font-weight: bold;
  text-transform: uppercase;
}
