body {
  margin: 0;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

#hero {
  padding-top: 60px;
  
  background: linear-gradient(rgba(255, 0, 24, 0.11), transparent);
}
#hero img {
  display: block;
  margin: 0 auto;
}

.container {
  width: 780px;
  margin: auto;
  box-sizing: border-box;
}

#header {
  padding: 10px 30px 50px;

  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.header-title {
  margin: 0 0 25px;

  font-size: 32px;
  font-weight: bold;
}
.header-subtitle {
  margin-bottom: 70px;
}

.mainFeature {
  padding: 50px 30px;
}
.mainFeature .container {
  position: relative;
  min-height: 400px;
  padding-left: 424px;
}
.mainFeature-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  overflow: hidden;

  border:1px solid #ccc;
  border-radius: 3px;
}
.mainFeature-image > img {
  display: block;
  width: 400px;
  height: 400px;
}
.mainFeature-subSection + .mainFeature-subSection {
  margin-top: 48px;
}
.mainFeature-subSection-title {
  margin-bottom: 12px;

  font-weight: bold;
  text-transform: uppercase;
}
.mainFeature-subSection-blurb code {
  padding: 3px 5px;
  font-size: 16px;
  background: #eee;
  border-radius: 3px;
}

#live-map, #quick-keys {
  background: #fcfcfc;
}

#more-features {
  padding: 50px 30px;
}
#more-features .container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.secondaryFeature {
  width: 378px;
  float: left;
}
.secondaryFeature:nth-child(2n) {
  margin-left: 24px;
}
.secondaryFeature:nth-child(n+3) {
  margin-top: 50px;
}
.secondaryFeature-image {
  position: relative;
  display: block;
  width: 378px;  /* TODO: Why do we need to subtract 2px? */
  height: 200px;  /* TODO: Why do we need to subtract 2px? */
  overflow: hidden;
  margin-bottom: 24px;
  box-sizing: border-box;

  border: 1px solid #ccc;
  border-radius: 3px;
}
.secondaryFeature-image > img {
  display: block;
  width: 378px;
  height: 200px;
}

#download {
  margin-top: 80px;
  
  background: black;
  background: linear-gradient(#5d0021, #26060d);;
  
  color: #fff;
}
#retcon {
  background: linear-gradient(#f2eeff, #ffffff);
}
.callout {
  padding: 80px 30px 105px;

  text-align: center;
}
.callout .container {
  width: 560px;
}
.callout-icon {
  margin: 5px 0 5px;
}
.callout-title {
  margin-bottom: 30px;
  
  font-size: 25px;
}
.callout-headline {
  line-height: 1.5;
  
  margin: 0 0 10px;
}
.callout-fineprint {
  width: 480px;
  margin: 17px auto 50px;

  font-size: 14px;
  
  opacity: 0.5;
}

.callout a {
  color: inherit;
}
.callout a:hover {
  color: #ddd;
}

.callout .button {
  display: inline-block;
  position: relative;
  height: 52px;
  min-width: 172px;
  margin-top: 29px;
  padding: 15px 26px 12px;

  cursor: pointer;
  white-space: nowrap;

  box-sizing: border-box;

  -webkit-appearance: none;

  border: 1px solid #8b1e00;
  border-radius: 7px;

  font-family: "DIN Web", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px rgba(0,0,0,0.2);

  user-select: none;

  background: #e33970;
  background: linear-gradient(#ff4c74, #d3244b);

  box-shadow: inset 0 1px rgba(255,255,255,0.1), 0 1px rgba(0,0,0,0.2);
}
.callout .button:hover,
.callout .button:focus {
  filter: brightness(1.1);
}
.callout .button:active {
  padding-top: 16px;
  padding-bottom: 11px;

  filter: brightness(0.9) saturate(1.4);
}

.callout .retcon-button {
  border-color: #622ecf;
  
  background: #6e41d4;
  background: linear-gradient(#a773f6, #5f31c7);
}

#links {
  background: #333;
  color: #fff;
  text-align: center;
}
#links a {
  color: #fff;
}
#links a:hover {
  color: #ddd;
}
#links a:active {
  color: #aaa;
}

#footer {
  position: relative;
  padding: 10px 30px;

  background: #ccc;

  font-size: 11px;
  line-height: 36px;
  color: #333;
  vertical-align: middle;
  text-align: center;
}
#footer a[href*='mixpanel'] {
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 0;
}

#screencast {
  text-align: center;
  margin-bottom: 20px;
}
video {
  border:1px solid #ccc; 
}
