body {
  margin: 0;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

#hero {
  padding-top: 70px;
  background: #333;
}
#hero img {
  display: block;
  margin: 0 auto;
}

#main {
  width: 780px;
  margin: auto;
  padding: 30px;
}

#header {
  margin: 0 auto 50px;

  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.header-title {
  margin-bottom: 12px;

  font-size: 32px;
  font-weight: bold;
}

.mainFeature {
  position: relative;
  margin: 50px 0 100px;
  padding-left: 424px;
}
.mainFeature-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  overflow: hidden;

  border:1px solid #ccc;
}
.mainFeature-image > img {
  display: block;
  width: 400px;
  height: 400px;
}
.mainFeature-subSection + .mainFeature-subSection {
  margin-top: 48px;
}
.mainFeature-subSection-title {
  margin-bottom: 12px;

  font-weight: bold;
  text-transform: uppercase;
}
.mainFeature-subSection-blurb code {
  padding: 3px 5px;
  font-size: 16px;
  background: #eee;
  border-radius: 3px;
}

#more-features {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.secondaryFeature {
  float: left;
  width: 378px;
}
.secondaryFeature + .secondaryFeature {
  margin-left: 24px;
}
.secondaryFeature-image {
  position: relative;
  display: block;
  width: 376px;  /* TODO: Why do we need to subtract 2px? */
  height: 198px;  /* TODO: Why do we need to subtract 2px? */
  overflow: hidden;
  margin-bottom: 24px;

  border:1px solid #ccc;
}
.secondaryFeature-image > img {
  display: block;
  width: 378px;
  height: 200px;
}

#download {
  padding: 70px 0 30px 0;
  background: #333;

  color: #fff;
  text-align: center;
}
#download .button {
  display: inline-block;
  position: relative;
  height: 42px;
  min-width: 72px;
  padding: 10px 17px 7px;

  cursor: pointer;
  white-space: nowrap;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-appearance: none;

  border: 1px solid #292929;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  font-family: "DIN Web", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px rgba(0,0,0,0.2);

  -webkit-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;
          user-select: none;

  background: #dc7003;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dc7003), color-stop(100%, #d15403));
  background: -webkit-linear-gradient(top, #dc7003, #d15403);
  background:    -moz-linear-gradient(top, #dc7003, #d15403);
  background:     -ms-linear-gradient(top, #dc7003, #d15403);
  background:      -o-linear-gradient(top, #dc7003, #d15403);
  background:         linear-gradient(top, #dc7003, #d15403);

  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.1), 0 1px rgba(0,0,0,0.2);
     -moz-box-shadow: inset 0 1px rgba(255,255,255,0.1), 0 1px rgba(0,0,0,0.2);
          box-shadow: inset 0 1px rgba(255,255,255,0.1), 0 1px rgba(0,0,0,0.2);
}
#download .button:active {
  padding-top: 11px;
  padding-bottom: 6px;

  background: #d86903;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d86903), color-stop(100%, #cd4f03));
  background: -webkit-linear-gradient(top, #d86903, #cd4f03);
  background:    -moz-linear-gradient(top, #d86903, #cd4f03);
  background:     -ms-linear-gradient(top, #d86903, #cd4f03);
  background:      -o-linear-gradient(top, #d86903, #cd4f03);
  background:         linear-gradient(top, #d86903, #cd4f03);
}
#download .button:hover,
#download .button:focus {
  background: #eb8408;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb8408), color-stop(100%, #e26a08));
  background: -webkit-linear-gradient(top, #eb8408, #e26a08);
  background:    -moz-linear-gradient(top, #eb8408, #e26a08);
  background:     -ms-linear-gradient(top, #eb8408, #e26a08);
  background:      -o-linear-gradient(top, #eb8408, #e26a08);
  background:         linear-gradient(top, #eb8408, #e26a08);
}

#links {
  background: #333;
  color: #fff;
  text-align: center;
}
#links a {
  color: #fff;
}
#links a:hover {
  color: #ddd;
}
#links a:active {
  color: #aaa;
}

#footer {
  background: #333;
}
.footer-content {
  width: 780px;
  margin: auto;
  padding: 30px;

  font-size: 11px;
  color: #fff;
  text-align: center;

}
#requirements {
  font-size: 13px;
}
